
/* =============================================================================
 *   COMPROBANTE DE PAGO
 * ========================================================================== */


#logotxt{
  width: 240px;
  text-align: center;
}
#logotxt .nombrelogo {
  font-weight: bold;
  font-size: 20px;
  margin: -5px 0px;
}
#logotxt .direcclogo {
  font-size: 11px;
}

.title_comprobante h1 {
  margin: 0px;
  text-align: center;
  margin-top: -52px;
  margin-bottom: 36px;
}
#comprobante{
  margin-top: 20px;  
}


#comprobante .firmas1, #comprobante .firmas2{
  width: 50%;
  float: left;
  text-align: center;
}

#comprobante .nombre {
  margin-top: 55px;
}

#comprobante .mes {
  margin-bottom: 30px;
}

#comprobante .fecha {
  width: 150px;
  text-align: center;
  font-weight: bold;
  float: right;
  margin-top: -50px;
  margin-right: 28px;
}
#comprobante .numero {
  font-size: 15pt;
  float: right;
  color: red;
  width: 120px;
  margin-right: 24px;
  text-align: center;
}
#comprobante span {
  font-weight: bold;
}
#comprobante #tablacomprobante{
  width: calc(100% - 2px);
  width: -webkit-calc(100% - 2px);
  width: -moz-calc(100% - 2px);
  width: -o-calc(100% - 2px);
}

#comprobante #tablacomprobante td{
  padding-left:15px ;
}

#comprobante #tablacomprobante tr.total{
  border-top: 3px solid #2f6ca8;
}

#comprobante #tablacomprobante tr.total td{
  font-weight: bold;
  color: #2F6CB8;;
}
#comprobante #tablacomprobante tr.total td.datos{
  text-align: right;
  padding-right: 20px;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++*/

#page-title { display: none;}

@media print {
  #fecha{
    display: none;
  }

  .title_comprobante{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 50px !important;
  }

  #logotxt{
    margin-top: -24px;
  }
  .literal {
    padding: 5px 0 0 15px;
    margin-bottom: 60px;
  }
}